/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration:none;
    color:black;
}
.container{
    width:100%;
}
.frame{
    height:84px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0px 10px rgba(37, 43, 57, 0.1);
}
.menu{
    display:flex;
    height:44px;
    width:1800px;
}
.left{
    display:flex;
    width:300px;
    font-size:28px;
    align-items: center;
    text-align:center;
    line-height: 44px;
    margin-left:150px;
}
.right{
    display:flex;
    justify-content:flex-end;
    flex:auto;
    line-height: 44px;
}
.item{
    flex:none;
    width:80px;
    margin-right:20px;
    text-align:center;
    display:block;
    font-size:20px;
}
.Banner{
    display:flex;
    justify-content:center;
    align-items:center;
    height:528px;
    width:1920px;
}
.BannerLeft{
    justify-content:center;
    align-items:center;
    height:128px;
    width:526px;
}
.BannerLeftUp{
    height:60px;
    width:526px;
    font-size:40px;
}
.BannerLeftdown{
    height:60px;
    width:526px;
    font-size:20px;
}
.BannerRight{
    display:flex;
    justify-content:center;
    align-items:center;
    height:368px;
    width:746px;
}
img.BannerRight{
    height:352px;
    width:564px;
}
.Comment{
    height:217px;
    width:1920px;
    display:flex;
    justify-content:center;
}
.CommentCard{
    height:177px;
    width:1296px;
    display:flex;
    align-items:center;
}
.TurnCard{
    height:177px;
    width:416px;
}
.Rectangle{
    height:120px;
    width:1920px;
}
.Find{
    background-color: #F5F5FF;
    display:flex;
    justify-content:center;
    align-items:center;
    height:460px;
    width:1920px;
}
.MobileLeft{
    display:flex;
    justify-content:center;
    align-items:center;
    height:400px;
    width:636px;
    margin:100px;
}
img.Mobile{
    background-color: #F5F5FF;
    height:360px;
    width:360px;
    margin:100px;
}
.FindApp{
    display:flex;
    justify-content:center;
    align-items:center;
    height:184px;
    width:636px;
    margin:100px;
}
.FindAppUp{
    height:38px;
    width:206px;
    font-size:32px;
    margin:20px;
}
.FindAppdown{
    height:30px;
    width:636px;
    font-size:20px;
    margin:20px;
}
.FindAppButton{
    height:56px;
    width:526px;
    font-size:20px;
    margin:20px;
}
.FindAppText{
    height:88px;
    width:636px;
}
.Special{
    display:flex;
    height:509px;
    width:1920px;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.SpecialApp{
    height:38px;
    width:1920px;
    text-align:center;
    justify-content:center;
    font-size:32px;
}
.SpecialCard{
    height:271px;
    width:1296px;
    display:flex;
    align-items:center;
}
.SpecialAppCard{
    height:271px;
    width:306px;
}
.Wishes{
    background-color: #F9F9FA;
    display:flex;
    justify-content:center;
    align-items:center;
    height:480px;
    width:1920px;
}
.WishesApp{
    display:flex;
    justify-content:center;
    align-items:center;
    height:184px;
    width:636px;
}
.WishesAppUp{
    height:38px;
    width:349px;
    font-size:32px;
    margin:20px;
}
.WishesAppDown{
    height:30px;
    width:636px;
    font-size:20px;
    margin:20px;
}
.WishesAppButton{
    height:56px;
    width:526px;
    font-size:20px;
    margin:20px;
}
.WishesAppText{
    height:88px;
    width:636px;
}
.WishesRight{
    display:flex;
    justify-content:center;
    align-items:center;
    height:400px;
    width:636px;
}
img.WishesMan{
    background-color: #F9F9FA;
    height:360px;
    width:360px;
}
.Footer{
    height:128px;
    width:1920px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #F2F2F5;
}
.FooterMenu{
    display:flex;
    height:48px;
    width:1800px;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:28px;
    margin-left:150px;
}
.Footerleft{
    display:flex;
    height:48px;
    width:600px;
    font-size:28px;
    align-items: center;
    text-align:center;
}
.GoodApp{
    display:flex;
    height:44px;
    font-size:44px;
    text-align:center;
    justify-content:center;
    align-items:center;
}
img.logo{
    height:44px;
    text-align:center;
}
img.FooterLeftIcon{
    text-align:center;
}
.FooterLeftIcon{
    display:flex;
    height:48px;
    text-align:center;
    align-items: center;
}
.FooterRight{
    display:flex;
    justify-content:flex-end;
    flex:auto;
    line-height: 44px;
}
.FooterItem{
    flex:none;
    height:24px;
    margin-right:20px;
    text-align:center;
    display:block;
    font-size:20px;
    width:80px;
}
